body{
  background-color: rgb(25, 25, 26);

}
header{
  background-image: url(movie.jpg);
  background-position: center;
  background-size: cover;
  padding: 110px 100px 110px 100px;
}
.fa-solid{
color:rgb(255, 193, 247);
font-size: 20px;
position: absolute;
top: 330px;
cursor: pointer;
}
h1{
  color: white;
  letter-spacing: 2px;
  font-size: 70px;
}
.movie-container{
  display: block;
  margin-top:200px;
  max-width: 700px;
  margin: 0 auto;
}
.movie-container video{
  position: relative;
  width: 750px;
  cursor: pointer;
  align-items: center;
  border-radius: 2px;
  margin-top: 40px;
}
button{
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 800px) {
  header{
    padding: 30px 70px 30px 70px;
  }
  h1{
    font-size: 50px;
    text-align: center;
  }
  .movie-container video{
    max-width: 90%;
    
  }
}